name: Docker Image CI

on:
  push:
    branches: 
      - main
      - 'AtharvaRK-patch-*'
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      id: t1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag arkyy21:$(date +'%H%M')

    - name: Docker Login
      uses: docker/build-push-action@v6.6.1
      with:
    # Username used to log against the Docker registry
        username: arkyy21
    # Password or personal access token used to log against the Docker registry
        password: ${secrets.DOCKERHUB_TOKEN}

    - uses: actions/checkout@v4
    - name: Docker Push 
      run: docker push arkyy21:$(date +'%H%M')
