name: Docker Image CI

on:
  push:
    branches: 
      - main
      - 'AtharvaRK-patch-*'
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag arkyy21/youtube-clone:${{ github.run_id }}
  login:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
      run: docker login -u arkyy21 -p ${{ secrets.DOCKERHUB_TOKEN }}
  Push:
    runs-on: ubuntu-latest
    steps:    
    - uses: actions/checkout@v4
    - name: Docker Push 
      run: docker images
